
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/scripts/jquery-2.2.1.min.js"></script>
    <script src="~/scripts/app/notifyWebSocket.js"></script>
    <script>
        $(document).ready(function () {
            hockeyTrackingApp.notifyWebSocket.register('notifications');
        });
    </script>
</head>
<body>
    <div>
        <h1>Hello World!</h1>
    </div>
    <div>
        <h2>Notifications</h2>
        <div id="notifications"></div>
    </div>
    <p>@ViewBag.handlerMessage</p>
</body>
</html>
