
<h1>Welcome!</h1>
<p>
    This is an example ASP.NET MVC 4 app I am writing as part of my preparation for
    Microsoft Certification Exam 70-486: Developing ASP.NET MVC 4 Web Applications.
</p>
<h2>Notifications</h2>
<div id="notifications"></div>

<script>
    $(document).ready(function () {
        hockeyTrackingApp.notifyWebSocket.register('notifications');
    });
</script>
