<h1>Welcome!</h1>
<p>
    @*
        Use parens so that expressions like "something.something" aren't interpretted as code.
        This is also necessary for generics to work in razor ex. @something = new Something<SomeType>()
    *@
    @{ var text = "ASP"; }
    This is an example ASP.NET MVC 4 app I am writing as part of my preparation for
    Microsoft Certification Exam 70-486: Developing @(text).NET MVC 4 Web Applications.
</p>
<div id="notifyContainer"></div>
@section PageScripts {
    <script>
        /// <reference path="~/Scripts/jquery-2.2.2.js" />
        $(document).ready(function () {
            $('#notifyContainer').load('/utilities/notifications');
        });
    </script>
}